{% extends 'base.html' %}
{% block main %}
<div>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Nome de usuário</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label class="form-label">Senha</label>
            {{ form.password }}
        </div>
        <hr>
        <div>
            <button class="btn_azul" type="submit">Entrar</button>
        </div>
    </form>
</div>
{% endblock main %}
