{% extends 'base.html' %}
{% block main %}
{% for postagem in postagens %}
<div class="mb-3 p-3 postagem">
    <div>
        <a class="fw-medium link" href="">username</a>
    </div>
    <hr>
    <div class="mb-3">
        <h1 class="fw-medium fs-2">{{ postagem.titulo }}</h1>
        <a class="fw-medium link" href="">{{ postagem.categoria }}</a>
    </div>
    <div>
        <p class="mb-0">{{ postagem.desc | linebreaksbr | truncatechars:500 }}</p>
    </div>
    <hr>
    <div class="d-flex justify-content-evenly">
        <a class="link" download href=""><i class="bi bi-download"></i></a>
        <a class="link" href=""><i class="bi bi-heart"></i></a>
    </div>
</div>
{% endfor %}
{% endblock main %}
    